[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[inet_http_server]         ; inet (TCP) server disabled by default
port=127.0.0.1:9012        ; (ip_address:port specifier, *:port for all iface)

[supervisorctl]
serverurl=http://127.0.0.1:9012 ; use an http:// url to specify an inet socket


[program:gunicorn]
environment=PATH="{{APP_VIRTUALENV}}/bin"
command=python manage.py run_gunicorn
    --settings=CollectingFeedback.settings
    --workers=3
    --bind="0.0.0.0:9090"
    --access-logfile {{ APP_DIR }}/log/%(program_name)s_access.log
stdout_logfile={{ APP_DIR }}/log/%(program_name)s.log
stderr_logfile={{ APP_DIR }}/log/%(program_name)s.log
stopasgroup=true
startsecs=5
autorestart=true

